In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('melb_data.csv')

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
df.shape

(13580, 21)

__For better undestanding of features, please see: https://datawrapper.dwcdn.net/hHuXG/4/__

## <font color='Red'> Questions </font>

<br>__1) see how many unique values does the dataframe have? - <font color='purple'> 5 points </font>__

__2) describe the null values of each features - <font color='purple'> 5 points </font>__

__3) Deal with the na values: try to apply the best strategy. That is, if the number of nan values are too much then remove the column if the column is not necessary. Otherwise, you can remove them from the dataset or you can fill na with an appropriate strategy. Save the rearranged form as df2 without changing df - <font color='purple'> 10 points </font>__

__4) Select the 'Suburb', 'Address', 'Rooms', 'Type', 'Price','Distance', 'Bedroom2', 'Bathroom', 'Car',
    'Regionname', 'Propertycount' columns to describe df3: <font color='purple'> 5 points </font>__

__5) Describe the statistics of the dataset: <font color='purple'> 10 points </font>__

In [5]:
# without cathegorical data

In [6]:
# with categorical data

__6)Describe the counts of unique values of 'Suburb','Type','Regionname', 'Propertycount'   <font color='purple'> 10 points </font>__

__7) Describe the outliers by box plot: Write a a loop for the object columns of df3 whose number of unique values is less than 10.  <font color='purple'> 15 points </font>__

In [7]:
plt.figure(figsize=(12,8))

__8) Describe the correlation of df3: <font color='purple'> 10 points </font>__

__10) Describe the address # of rooms, # of bathrooms, distance for the highest Price house?: <font color='purple'> 10 points </font>__

__11) Is there any signaficant relation between Regionname and Price? - <font color='purple'> 20 points </font>__